* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(52, 52, 52);
}
.container {
  width: 412px;
  height: 915px;
  background-color: rgb(255, 255, 255);
}
.header {
  position: relative;
  height: 25vh;
  width: 100%;
  background-color: black;
  display: flex;
}
.main-card {
  position: absolute;
  /* bottom: -50%; */
  /* left: 50%; */
  /* transform: translateX(-50%, \); */
  width: 80%;
  bottom: 0;
  height: 6rem;
  margin-bottom: -3rem;
  border-radius: 0.9rem;
  background-color: red;
}
