* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(50, 50, 50);
}
/*main body wrapper*/
.container {
  width: 412px;
  height: 915px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  z-index: 1;
}
/*header section*/
.header {
  position: relative;
  height: 25%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  border-radius: 0 0 3rem 0;
}
/*top navigation*/
.header nav{
  width: 100%;
  height: 20%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

}
.header::after{
  content: "";
  bottom:-3rem;
  left: 0;
  position: absolute;
  height: 3rem;
  width: 3rem;
  z-index:  1;
  background: #000;
}
/*account balance card*/
.main-card {
  position: absolute;
  width: 80%;
  height: 6rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3rem;
  bottom: 0;
  border-radius: 0.9rem;
  background-color: red;
  z-index: 999;

}
/*main content wrapper*/
.content-wrapper{
  background-color: #fff;
  height: 75%;
  border-radius: 3rem 0 0 0;
  position: relative;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*sections title*/
.content-wrapper h3{
  font-weight: 100;
  color: grey;
}

/* send money section*/
.people{
  width: 80%;
  margin: 0 auto;
  height: 10rem;
  background: #fff;
}
.people-wrapper{
  margin-top: 1rem;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  -webkit-overflow-scrolling: touch;
  gap:1rem;
}
/*hide scroll bar in chrome*/
.people-wrapper::-webkit-scrollbar{
    display: none;
}
/*hide scroll bar in firefox*/
.people-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/*person profile card*/
.person{
  flex: 0 0 auto;
  width: 5rem;
  height: 5rem;
  background: #262626;
  border-radius: 50%;

}
/*profile images*/
.person img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: center center;
}
/* search person card  */
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 100;
}
/*quick payment section*/
.payments-container{
  height: 20rem;
  width: 80%;
  margin: 0 auto;
}
/*payment cards container*/
.payment-wrapper{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap:1rem;
}
/*payment cards*/
.card{
  width: 30%;
  height: 12rem;
  background: #262626;
  border-radius: 0.5rem;
}
/*footer nav section*/
footer{
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.footer-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer button{
  background: transparent;
  border: none;
}
footer i{
  color: black;
  font-size: 2.3rem;
}
